
h1{
    /* background-color: red; */
}

p{
    color: aqua;
    border: 2px solid green;
}

input{
    border: 1px solid orangered;
}

.fonte-pequena {
    font-size: 8px;
}

nav{
    font-size: 18px;
    color: blue;
    font-weight: bold;
}

a {
    font-size: 18px;
    color: orangered;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}